.overview-wrapper {
    padding: 1rem 3rem;
    height: 100%;
    overflow: scroll;
    padding-bottom: 20rem;
}

.charts-wrapper {
    display: flex;
    flex-direction: column;
}

.overview-wrapper .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-size: 1.8rem;
        align-self: end;
    }

    .filter-btns {
        display: flex;
        justify-content: end;
    }
}

.line-chart-container {
    padding-bottom: 2rem;
    margin-bottom: 3rem;

    .title {
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        text-decoration: underline;
        margin: 2rem 0;
    }
}

.line-chart-indivisual-container {
    border-radius: 15px;
    margin: 2rem 0 4rem 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .wrapper {
        border: 1px solid #d7d6d6;
    }

    @media screen and (max-width: 678px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.stats-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    @media screen and (max-width: 678px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.dropdown-container {
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;
    margin-top: 4rem;

    select {
        background-color: #ffffff;
        color: #000000;
        border-radius: 5px;
    }
}

.loading-container {
    font-size: 3rem;
    color: #d7d6d6;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
