.sidebar-and-overview {
    position: absolute;
    top: 6.4rem;
    display: flex;
    width: 100%;
    height: calc(100% - 6.4rem);
    overflow: hidden;
}

main {
    // max-width: 100%;
    background-color: #ffffff;
}
