.sidebar {
    width: 25.6rem;
    font-size: 1.4rem;
    background-color: #f8f9fa;
    padding: 1rem 1rem 1rem 0;
    height: 100%;
    overflow: scroll;
    border-right: 1px solid #d9dce0;

    .submenu-conatiner {
        display: none;

        &.expand {
            display: block;
        }
    }

    &.hide {
        display: none;
    }

    &.show {
        display: block;
    }
}
